@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: 'segoeuithis';
  src: url('/fonts/segoeuithis.ttf') format('truetype');
}

html, body{
  font-family: "Segoe UI", serif;
  overflow: hidden;
}
:root{
  --primary-color: #2B216A;
  --primary-color-1: #E5E6FF;
  --primary-color-2: #5A43D6;
  --primary-color-3: #F9F9F9;
  --header-height: 40px;
  --working-height: calc(100vh - var(--header-height));
  --header-color: var(--primary-color);
  --toolbar-height: 48px;
  --border: 1px solid #E8E8E8;
  --primary-font: "Segoe UI Semibold", serif;
  --br-btn-yellow: 1px solid #cb9806;
  --br-btn-blue: 1px solid #0666BB;
  --br-btn-green: 1px solid #217950;
  --br-btn-orange: 1px solid #d25704;
  --status-color-blue: #0880EA;
  --status-color-green: #299764;
  --status-color-orange: #ED5F00;
  --status-color-purple: #5A43D6;
  --status-color-grey: #7C7C7C;
  --status-color-lightgrey: #E5E5E5;
}
.list-group-item.active{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.h-35{
  height: 35%!important;
}
.h-40{
  height: 40%!important;
}
.h-60{
  height: 60%!important;
}
.h-65{
  height: 65%!important;
}
.br-1{
  border-radius: 10px;
}
.br-05{
  border-radius: 5px;
}
.cxy{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-2rem{
  margin-top: 2rem;
}
.active{
  background-color: var(--primary-color-3) !important;
  border: 1px solid #CECECE !important;
}
.active-status{
  background-color: var(--primary-color-1) !important;
  color: var(--primary-color-2) !important;
}
.circle-new{
  background-color: var(--status-color-grey);
  box-shadow: 0 0 0 2px var(--status-color-grey);
}
.circle-done{
  background-color: var(--status-color-green);
  box-shadow: 0 0 0 2px var(--status-color-green);
}
.circle-in-work{
  background-color: var(--status-color-purple);
  box-shadow: 0 0 0 2px var(--status-color-purple);
}
.circle-on-check{
  background-color: var(--status-color-blue);
  box-shadow: 0 0 0 2px var(--status-color-blue);
}
.status{
  font-family: var(--primary-font);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 1px 4px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.status-new{
  color: #262626;
  background-color: var(--status-color-lightgrey);
}
.status-in-work{
  background-color: var(--status-color-purple);
}
.status-done{
  background-color: var(--status-color-green);
}
.status-check{
  background-color: var(--status-color-blue);
}
.status-rework{
  background-color: var(--status-color-orange);
}
.department{
  padding: 0 6px 2px 6px;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-size: 12px;
  text-align: center;
  color: #202020;
  width: fit-content;
}
.color-hull{
  background-color: #D3CCF1;
}
.color-device{
  background-color: #FDD1B4;
}
.color-system{
  background-color: #B7E4DF;
}
.color-electric{
  background-color: #B2DEFF;
}
.color-accommodation{
  background-color: #FFEDC4;
}
.text-s{
  font-size: small;
}
.text-m{
  font-size: medium;
}
.text-xs{
  font-size: 12px;
  color: #838383;
}
.text-xxs{
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  color: #292d34;
  display: block;
  padding: 0 0 8px 2px;
}
.text-menu{
  font-size: 14px;
  color: #202020;
}
.cp{
  cursor: pointer;
}
.semibold{
  font-family: var(--primary-font);
}
.offcanvas-lg{
  width: 60% !important;
}
.no-events{
  pointer-events: none;
}
.vertical-line{
  border-right: 1px solid #e8e8e8;
  height: 16px;
  user-select: none;
}
.user-name-purple{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #553ED0;
  font-size: 12px;
  color: white;
  font-family: var(--primary-font);
}
.bottom-line{
  border-bottom: 1px solid #e8e8e8;
}
.button-app{
  height: 32px;
  width: 32px;
  border-radius: 6px;
}
.button-app-min{
  height: 24px;
  width: 24px;
  border-radius: 6px;
}
.buttons-toolbar{
  height: 32px;
  width: 32px;
  border-radius: 6px;
  color: #646464;
}
.buttons-toolbar:hover{
  background-color: #F0F0F0;
  transition: 0.3s;
  color: #646464;
  user-select: none;
}
.row-menu-cloud{
  border-radius: 8px;
  cursor: pointer;
  color: #646464;
}
.row-menu-cloud:hover{
  background-color: #F0F0F0;
  transition: 0.3s;
}
.border-center{
  border-bottom: 1px solid #E8E8E8;
  position: absolute;
  top: 14px;
  z-index: 0;
}
.tab{
  border-bottom: 1px solid transparent;
}
.tab:hover{
  color: #7f77f1;
}
.active-tab{
  border-bottom: 2px solid #7f77f1;
  font-family: var(--primary-font);
  color: #7f77f1;
}
.back{
  background-color: var(--primary-color-3);
}
.br-btn-green{
  border-right: var(--br-btn-green);
}
.br-btn-yellow{
  border-right: var(--br-btn-yellow);
}
.br-btn-blue{
  border-right: var(--br-btn-blue);
}
.br-btn-orange{
  border-right: var(--br-btn-orange);
}
